<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css" />
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css" />
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body>
		<section class="todoapp" id="app">
			<header class="header">
				<h1>todos</h1>
				<input
					class="new-todo"
					placeholder="What needs to be done?"
					autofocus
					v-on:keydown.enter='addTodo($event)'
				/>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<template v-if="data_array.length">
				<section class="main">
					<input id="toggle-all" class="toggle-all" type="checkbox" 
						v-model="toggleAllstat"						
					>
					<label for="toggle-all">Mark all as complete</label>
					<ul class="todo-list">
						<!-- These are here just to show the structure of the list items -->
						<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
						<li v-for="(item, index) in fliterData"
							v-bind:class='{
								completed: item.status,
								editing: goedit === item
							}'
						>
							<div class="view">
								<input v-model='item.status' class="toggle" type="checkbox" checked />
								<label v-on:dblclick='dbEdit(item,$event)'>{{item.title}}</label>
								<button class="destroy"
									v-on:click='daleteData(item,index,$event)'
								></button>
							</div>
							<input class="edit" v-bind:value='item.title'
								v-on:keydown.enter='saveEdit(item,index,$event)'
								v-on:blur='saveEdit(item,index,$event)'
								v-on:keydown.esc = 'cancelEdit'
							>
						</li>
					</ul>
				</section>
				<!-- This footer should hidden by default and shown when there are todos -->
				<footer class="footer">
					<!-- This should be `0 items left` by default -->
					<span class="todo-count"><strong>{{ undoneLength }}</strong> item left</span>
					<!-- Remove this if you don't implement routing -->
					<ul class="filters">
						<li>
							<a v-bind:class="{selected: filterText === ''}" href="#/">All</a>
						</li>
						<li>
							<a v-bind:class="{selected: filterText === 'active'}" href="#/active">Active</a>
						</li>
						<li>
							<a v-bind:class="{selected: filterText === 'completed'}" href="#/completed">Completed</a>
						</li>
					</ul>
					<!-- Hidden if no completed items are left ↓ -->
					<button v-on:click='clearCompleted' class="clear-completed">Clear completed</button>
				</footer>
			</template>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<!-- <script src="node_modules/todomvc-common/base.js"></script> -->
		<script src="./node_modules/vue/dist/vue.js"></script>
		<script>
			// 定义一个存放数据的数组
			// var data_array = [
			// 	{
			// 		id: 1,
			// 		title: "吃饭",
			// 		status: false
			// 	},
			// 	{
			// 		id: 2,
			// 		title: "睡觉",
			// 		status: true
			// 	},
			// 	{
			// 		id: 3,
			// 		title: "打豆豆",
			// 		status: true
			// 	}
			// ];
			window.app = new Vue({
				el: "#app",
				data: {
					// data_array: data_array,
					// 利用 localstorage 实现本地化存储
					data_array: JSON.parse(window.localStorage.getItem('dataArray') || '[]'),
					goedit: null,
					filterText: ''
				},
				methods: {
					addTodo: function(e) {
						// 获取用户输入的信息
						var value = e.target.value;
						if(value === '') {
							alert('请输入事项:');
						} else {
							if(this.data_array.length === 0) {
								this.data_array.push({
									id: 1,
									title: value,
									status: false
								})
							} else {
								this.data_array.push({
									id: this.data_array[this.data_array.length -1].id + 1,
									title: value,
									status: false
								})
							}
						}
						e.target.value = '';
						// console.log("敲击了");
					}

					,changeStatus: function(e) {
						// 获取当前按钮的checked的属性值
						var checked = e.target.checked;
						// 改变 事项的状态 status
						this.data_array.forEach(item => {
							item.status = checked;
						})
					}
					
					,daleteData: function(item,index,e) {
						// 根据数组的下标删除数据
						app.data_array.splice(index, 1)
					}

					,dbEdit: function(item,e) {
						// 获取我们双击的元素对象并且赋给 edit
						this.goedit = item;	
					}
					
					,saveEdit: function(item,index,e) {
						const value = e.target.value.trim();
						// 数据被编辑为空的了，直接删除
						if (!value.length) {
							this.data_array.splice(index, 1)
						} else {
							item.title = value
							this.goedit = null
						}
					}

					,cancelEdit: function() {
						this.goedit = null;
					}
					
					,clearCompleted: function() {
						for(let i=0; i<this.data_array.length; i++) {
							if(this.data_array[i].status === true) {
								this.data_array.splice(i,1);
								// 删除元素之后，让我们遍历的这个 小索引 往后倒退一次，
       							// 因为你删除之后，后面的所有元素的索引都会倒退一次
								// 纠正索引的遍历
        					    i--;
							}
						}
					}
				},
				computed: {
					undoneLength: function() {
						return this.data_array.filter((item)=>!item.status).length;
					}
					,toggleAllstat: {												
						get () {
							// 计算属性知道它依赖了 todos
							// 当 todos 发生变化，计算属性会重新计算
							return this.data_array.every(item => item.status)
						},
						set () {
							// 表单控件 checkbox 双向绑定了 toggleAllStat
							// 所以 checkbox 的变化会调用 set 方法
							// 在 set 方法中我们要做的就是
							//    1. 得到当前 checkbox 的选中状态
							//    2. 把所有任务项的选项状态都设置为 toggle-all 的选中状态

							// 在自己的 set 方法中访问自己就是调用自己 get 方法
							// console.log(this.toggleAllStat)
							const checked = !this.toggleAllstat
							this.data_array.forEach(item => {
								item.status = checked
							})
						}
					},
					
					fliterData: function() {
						// 用于过滤 data_array 数组的数据 根据 .status
						switch(this.filterText) {
							case 'active':
								return this.data_array.filter(item => !item.status);
								break;
							case 'completed':
								return this.data_array.filter(item => item.status);
								break;
							default:
								return this.data_array;
						}
					}
					
				},
				watch: {
					data_array: {
						handler: function(val,oldval) {
							// console.log('变化了');
							// 利用 localStorage 进行本地化存储
							window.localStorage.setItem('dataArray', JSON.stringify(val));
						},
						deep:true,
						immediate: true
					}
				}
			});
			// 保持页面初始化状态 开始先调用一次
			hashchange(); 
			// 在window对象下注册 onhashchange事件 用于改变 app.filterText 的值
			window.onhashchange = hashchange;
			function hashchange(e) {
				app.filterText = window.location.hash.substr(2);
			}
		</script>
	</body>
</html>
